In [1]:
import pandas as pd
import numpy as np

In [27]:
def matchAndFill (table1, table2, out):
    df1 = pd.read_csv(table1)
    df2 = pd.read_csv(table2)
    
    #df2.fillna("0") doesn't actually change the df
    for index, row in df1.iterrows():
        snp = row["name"]
        chrom = row["#chrom"].split("r")
        #print(chrom)
        try: 
            chromNum = int(chrom[1])
        except ValueError:
            pass
        for idx, rw in df2.iterrows():
            snpToMatch = rw["rsID"]
            if snp == snpToMatch:
                #print(rw["start(hg19)"])
                df2.at[idx, "Chr"] = chromNum
                df2.at[idx, "start(hg19)"] = row["chromStart"]
                df2.at[idx, "stop(hg19)"] = row["chromEnd"]
                
    df2.to_csv(out, index = False, header = True)

In [28]:
table1 = "/Volumes/T7Touch/NIHSummer2021/Data/MicrobiomeVariants/hg19_positions.csv"
table2 = "/Volumes/T7Touch/NIHSummer2021/Data/MicrobiomeVariants/allMB_variants.csv"
out = "/Volumes/T7Touch/NIHSummer2021/Data/MicrobiomeVariants/reformattedMB_variants.csv"

matchAndFill(table1, table2, out)

In [48]:
pdDict = {
    'chr1' : {},
    'chr2': {},
    'chr3' : {},
    'chr4': {},
    'chr5' : {},
    'chr6': {},
    'chr7' : {},
    'chr8': {},
    'chr9' : {},
    'chr10': {},
    'chr11' : {},
    'chr12': {},
    'chr13' : {},
    'chr14': {},
    'chr15' : {},
    'chr16': {},
    'chr17' : {},
    'chr18': {},
    'chr19' : {},
    'chr20': {},
    'chr21' : {},
    'chr22': {}
}

In [30]:
df3 = pd.read_csv("/Volumes/T7Touch/NIHSummer2021/Data/EuropeanParkinsons/nalls_dataset.csv")
df3.head()

              SNP A1 A2    freq       b      se       p  N_cases  N_controls
0  chr11:88249377  T  C  0.9931  0.1575  0.1783  0.3771     7161        5356
1   chr1:60320992  A  G  0.9336  0.0605  0.0456  0.1846    26421      442271
2   chr2:18069070  T  C  0.9988 -0.6774  1.3519  0.6163      582         905
3  chr8:135908647  A  G  0.2081 -0.0358  0.0273  0.1887    26421      442271
4   chr12:3871714  A  C  0.9972  0.1489  1.0636  0.8886      749         658

In [50]:
len(df3)

17510617

In [ ]:
def testLength (dictionary):
    size = 0
    for key in pdDict:
        size += len(pdDict[key])
    print(size)

In [51]:
def doubleDict(df, dictName):
    for index, row in df.iterrows():
        chrID = row["SNP"]
        chrom = row["SNP"].split(":")
        #print("here")
        name = chrom[0]
        #print(name)
        dictName[name][chrID] = [row["A1"], row["A2"], row["freq"], row["b"], row["se"], row["p"], row["N_cases"], row["N_controls"]]

In [52]:
doubleDict(df3, pdDict)
schedule.every(10).seconds.do(testLength(pdDict))

In [59]:
df4 = pd.read_csv("/Volumes/T7Touch/NIHSummer2021/Data/MicrobiomeVariants/formattedMB_variants.csv")
df4.head()

,rsID,chrID,Chr,start(hg19),stop(hg19),A1,A2,freq,b,se,p,N_cases,N_controls,Close genes,PMID,Underlying_studies_PMID
0,rs10248138,chr7:37961001,7,37961000.0,37961001,C,A,.,.,.,.,.,.,"EPDR1, SFRP4",33130294,26374288
1,rs1050115,chr2:136511817,2,136511816.0,136511817,A,G,.,.,.,.,.,.,UBXN4,33130294,26374288
2,rs1110168,chr3:129297223,3,129297222.0,129297223,C,G,.,.,.,.,.,.,PLXND1,33130294,26374288
3,rs1966834,chr11:57982620,11,57982619.0,57982620,A,G,.,.,.,.,.,.,OR1S1,33130294,26374288
4,rs2274669,chr20:2816821,20,2816820.0,2816821,C,T,.,.,.,.,.,.,PCED1A,33130294,26374288

In [70]:
def insertParameters(dfToFill, dictToRead):
    for idx, row in dfToFill.iterrows():
        chrom = "chr" + str(row["Chr"])
        #print(chrom)
        chrID = row["chrID"]
        #print(pdDict[chrom][chrID][0])
        try:
            dfToFill.at[idx, "A1"] = pdDict[chrom][chrID][0]
            dfToFill.at[idx, "A2"] = pdDict[chrom][chrID][1]
            dfToFill.at[idx, "freq"] = pdDict[chrom][chrID][2]
            dfToFill.at[idx, "b"] = pdDict[chrom][chrID][3]
            dfToFill.at[idx, "se"] = pdDict[chrom][chrID][4]
            dfToFill.at[idx, "p"] = pdDict[chrom][chrID][5]
            dfToFill.at[idx, "N_cases"] = pdDict[chrom][chrID][6]
            dfToFill.at[idx, "N_controls"] = pdDict[chrom][chrID][7]
        except KeyError:
            pass

In [71]:
insertParameters(df4, pdDict)
df4.head()

,rsID,chrID,Chr,start(hg19),stop(hg19),A1,A2,freq,b,se,...,N_cases,N_controls,Close genes,PMID,Underlying_studies_PMID,C,A,.,G,T
0,rs10248138,chr7:37961001,7,37961000.0,37961001,A,C,0.1698,0.0402,0.0234,...,33674,449056,"EPDR1, SFRP4",33130294,26374288,A,C,449056.0,NaN,NaN
1,rs1050115,chr2:136511817,2,136511816.0,136511817,A,G,0.7983,0.0199,0.0236,...,15056,12637,UBXN4,33130294,26374288,NaN,A,12637.0,G,NaN
2,rs1110168,chr3:129297223,3,129297222.0,129297223,C,G,0.7938,0.0249,0.0219,...,33674,449056,PLXND1,33130294,26374288,C,NaN,449056.0,G,NaN
3,rs1966834,chr11:57982620,11,57982619.0,57982620,A,G,0.5693,-0.0275,0.0179,...,33674,449056,OR1S1,33130294,26374288,NaN,A,449056.0,G,NaN
4,rs2274669,chr20:2816821,20,2816820.0,2816821,T,C,0.2182,0.0123,0.0237,...,33311,448891,PCED1A,33130294,26374288,T,NaN,448891.0,NaN,C

In [72]:
df4.to_csv("/Volumes/T7Touch/NIHSummer2021/Data/MicrobiomeVariants/finalMB_variants.csv", index = False, header = True)

In [73]:
pdDict["chr7"]["chr7:37961001"]

['A', 'C', 0.1698, 0.0402, 0.0234, 0.08656, 33674, 449056]

In [78]:
pdDict["chr22"]["chr22:1313598"]

KeyError: 'chr22:1313598'