In [3]:
import pandas as pd

f = "/Volumes/Passport/119Bacs_addedP/addedPgenus..Clostridiuminnocuumgroup.id.14397.summary.txt.csv"

df = pd.read_csv(f)
newDf = df[['rsID', 'eff.allele', 'ref.allele', 'Z.weightedSumZ', 'N', 'pDerived']].copy()
newDf = newDf.rename(columns={'rsID' : 'snpid', 'pDerived' : 'P-value','eff.allele' : 'A1', 'ref.allele' : 'A2', 'Z.weightedSumZ' : 'Zscore'})

newDf.head()

        snpid A1 A2    Zscore     N   P-value
0   rs6890185  T  C  4.868859  4166  0.000001
1  rs11792329  G  A  4.341470  3858  0.000012
2   rs6884406  A  G  4.818916  4166  0.000001
3  rs57676887  C  T  4.532207  4166  0.000005
4  rs72864816  T  G  4.527756  4164  0.000005

In [5]:
newDf.to_csv("/Volumes/T7Touch/NIHSummer2021/Data/ldsc_debugging/Zsum.Clostridiuminnocuumgroup.id.14397.summary.csv", index = False)

In [7]:
import csv
def CSVtoTXT (csv_file, txtFile):
    with open(txtFile, "w") as my_output_file:
        with open(csv_file, "r") as my_input_file:
            [my_output_file.write(" ".join(row)+'\n') for row in csv.reader(my_input_file)]
        my_output_file.close()
        
CSVtoTXT("/Volumes/T7Touch/NIHSummer2021/Data/ldsc_debugging/Zsum.Clostridiuminnocuumgroup.id.14397.summary.csv", "/Volumes/T7Touch/NIHSummer2021/Data/ldsc_debugging/Zsum.Clostridiuminnocuumgroup.id.14397.summary.txt")

In [ ]:
./munge_sumstats.py \
--out /Volumes/T7Touch/NIHSummer2021/Data/ldsc_debugging/Zsum.Clostridiuminnocuumgroup.id.14397.summary \
--merge-alleles /Volumes/T7Touch/NIHSummer2021/Data/LDSR_analysis/ldsc/w_hm3.snplist \
--sumstats /Volumes/T7Touch/NIHSummer2021/Data/ldsc_debugging/Zsum.Clostridiuminnocuumgroup.id.14397.summary.txt

In [ ]:
./ldsc.py \
--ref-ld-chr /Volumes/T7Touch/NIHSummer2021/Data/LDSR_analysis/ldsc/eur_w_ld_chr/ \
--out /Volumes/T7Touch/NIHSummer2021/Data/ldsc_debugging/Clostridiuminnocuumgroup_ldscResults \
--rg /Volumes/T7Touch/NIHSummer2021/Data/ldsc_debugging/Zsum.Clostridiuminnocuumgroup.id.14397.summary.sumstats.gz,/Volumes/T7Touch/NIHSummer2021/Data/LDSR_analysis/nalls_onlyRsIDs.sumstats.gz \
--w-ld-chr /Volumes/T7Touch/NIHSummer2021/Data/LDSR_analysis/ldsc/eur_w_ld_chr/