In [1]:
import pandas as pd

In [42]:
df = pd.read_csv(csvPath, index_col=None)

In [111]:
import random
csv = "/Volumes/T7Touch/NIHSummer2021/Data/LDPruning_MBVars/chr12/r2_eu.csv"
#df = pd.read_csv(csvPath, index_col=None)

def prune (csvPath):
    df = pd.read_csv(csvPath, index_col=None)

    kept = [i for i in list(df.columns) if i != "RS_number"]
    filteredOut = []
    upTo = 1
    
    for row in range(len(df.index)):
        #print(upTo)
        for col in range(len(df.columns)): #luckily all rows will have same # of columns
            #print(col)
            #print(upTo)
            if col < upTo: #only on the 2nd row will it start processing
                if isinstance(df.iloc[row][col], float): #excludes first column bc rows not made up of floats
                    if df.iloc[row][col] > 0.3: #if value of curr cell is higher than 0.3
                        rsID_list = [df.iloc[row][0], df.columns[col]] #rowlabel,collabel
                        out = random.choice(rsID_list)
                        if out in filteredOut:
                            for i in rsID_list:
                                if i not in filteredOut:
                                    #print(i)
                                    out = i
                        filteredOut.append(out)
        upTo = upTo + 1
    #see how many are kept
    kept_copy = kept
    for i in range(len(filteredOut)):
        if filteredOut[i] in kept:
            kept_copy.remove(filteredOut[i])
            
    print("Kept rsIDs: ", *kept_copy, "\n", "Removed rsIDs: ", *filteredOut, sep = "\n")
    print("\nNumber rsIDs kept: ", len(kept_copy))
    print("\nNumber rsIDs removed: ", len(filteredOut))

In [112]:
prune(csv)

Kept rsIDs:
rs479105
rs1009634
rs2087307
rs7302178
rs7974353
rs10748061
rs12320842
rs11608507
rs2408564
rs4760399
rs11110281
rs17806643


Removed rsIDs:
rs76494961
rs77022914
rs56930803
rs10743315
rs10743315
rs56930803

Number rsIDs kept:  12

Number rsIDs removed:  6

In [43]:
df.head()

,RS_number,rs479105,rs1009634,rs2087307,rs77022914,rs76494961,rs56930803,rs10743315,rs7302178,rs7974353,rs10748061,rs12320842,rs11608507,rs2408564,rs4760399,rs11110281,rs17806643
0,rs479105,1.000,0.000,0.001,0.001,0.000,0.000,0.000,0.0,0.001,0.000,0.000,0.000,0.006,0.000,0.001,0.000
1,rs1009634,0.000,1.000,0.000,0.001,0.000,0.000,0.001,0.0,0.000,0.000,0.006,0.000,0.007,0.001,0.000,0.001
2,rs2087307,0.001,0.000,1.000,0.000,0.000,0.000,0.000,0.0,0.000,0.001,0.000,0.001,0.000,0.001,0.001,0.001
3,rs77022914,0.001,0.001,0.000,1.000,0.945,0.945,0.879,0.0,0.000,0.000,0.000,0.000,0.000,0.001,0.000,0.001
4,rs76494961,0.000,0.000,0.000,0.945,1.000,1.000,0.931,0.0,0.001,0.000,0.000,0.000,0.000,0.001,0.000,0.001

In [92]:
df.shape

(16, 17)

In [54]:
df.index[1]

1

In [59]:
df.columns[0]

'RS_number'

In [50]:
type(df.iloc[0][1])

numpy.float64

In [51]:
df.iloc[2][0]

'rs2087307'

In [25]:
df.iloc[0]

rs479105      1.000
rs1009634     0.000
rs2087307     0.001
rs77022914    0.001
rs76494961    0.000
rs56930803    0.000
rs10743315    0.000
rs7302178     0.000
rs7974353     0.001
rs10748061    0.000
rs12320842    0.000
rs11608507    0.000
rs2408564     0.006
rs4760399     0.000
rs11110281    0.001
rs17806643    0.000
Name: rs479105, dtype: float64

In [24]:
df.loc["rs479105"]

rs479105      1.000
rs1009634     0.000
rs2087307     0.001
rs77022914    0.001
rs76494961    0.000
rs56930803    0.000
rs10743315    0.000
rs7302178     0.000
rs7974353     0.001
rs10748061    0.000
rs12320842    0.000
rs11608507    0.000
rs2408564     0.006
rs4760399     0.000
rs11110281    0.001
rs17806643    0.000
Name: rs479105, dtype: float64